%tr.content-t.level_0{id: "cat_#{p.id}"}
  %td{style: "padding-left: 10px;"}
    - if page_items(p).present?
      %a.toogle.icon-plus{href: "#", onclick: "return false;", style: "margin-left: -18px;"}
    = link_to p.name, edit_page_path(p), class: 'title'
    %i
      %sup= p.id
    %img.loading{src: "/assets/spinner.gif", style: "display: none;"}/
  %td
    = (p.active?) ? "#{ t(:_BTN_PUBLIC) }" : "<span class=\"label label-important\">#{ t(:_BTN_HIDDEN) }</span>".html_safe
  %td
    = link_to edit_page_path(p, mode: 'show_sidebar'), class: 'btn btn-success' do
      %i.halflings-icon.edit.halflings-icon
    = link_to p.active? ? raw('<i class="icon-eye-close"></i>') : raw('<i class="icon-eye-open"></i>'), showhide_page_path(p), class: 'btn btn-success'
    = link_to raw('<i class="halflings-icon trash halflings-icon"></i>'), page_path(p), class: 'btn btn-danger', :method => :delete, :data => { :confirm => t('_DELETE_CONFIRM') }
