<% provide(:title, t(:_NEWS_ARTICLES)) %>

<% content_for :sidebar_l2 do %>
<div id="sidebar-left2" class="span3">
	<div class="nav-collapse sidebar-nav">
		<ul class="nav nav-tabs nav-stacked">
			<% page_tree.each do |p| %>
				<%= render 'rows', p: p, level: 0 %>
			<% end %> 			
		</ul>				
	</div>
</div>
<% end %>

<div class="box-header" data-original-title="">
	<h2><i class="halflings-icon align-justify"></i><span class="break"></span><%= @parent.name %></h2>
<!-- 	<div class="box-icon">
		<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
	</div>
 --></div>
<div class="box-content">
	<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
		<div class="row-fluid">
			<div class="btn-overlay">
				<%= link_to "<i class=\"halflings-icon plus\"></i> #{ t(:_NEW) }".html_safe, new_children_page_path(@parent), class: 'btn btn-primary' %>
			</div>
		</div>

		<table class="table table-striped tree">
			<thead>
				<tr>
					<th width="60%"><%= t :_PAGES %></th>
					<th width="20%"><%= t :_STATUS %></th>
					<th><%= t :_ACTIONS %></th>
				</tr>
			</thead>
			<tbody>
				<% @pages.each do |p| %>
					<%= render 'children_rows', p: p %>
				<% end %> 
			</tbody>
		</table>					
		<div class="row-fluid">
			<!-- <div class="span12">
				<div class="dataTables_info" id="DataTables_Table_0_info">Showing 1 to 10 of 32 entries</div>
			</div> -->
			<div class="span12 center">
				<div class="dataTables_paginate paging_bootstrap pagination"><%= will_paginate page_items %></div>
			</div>
		</div>
	</div>
</div>