<% provide(:title, "#{t(:_EDIT)}: #{@page.name}") %>

<% content_for :sidebar_l2 do %>
<div id="sidebar-left2" class="span3">
	<div class="nav-collapse sidebar-nav">
		<ul class="nav nav-tabs nav-stacked">
			<% page_tree.each do |p| %>
				<%= render 'rhinoart/pages/rows', p: p, level: 0 %>
			<% end %> 
		</ul>
	</div>
</div>
<% end %>

<% content_for :javascript do %>
<script type="text/javascript">
<!--
	<%= raw(field_javascript) %>
	<%= raw(tab_javascript) %>
-->
</script>	
<% end %>

<%= form_for @page, :url => page_path, :html => { :multipart => true } do |f| %>
    <legend><%= "#{t(:_EDIT)}: #{@page.name}" %></legend>

   	<%= render 'fields', f: f %>	    
<% end %>

<%= render 'rhinoart/page_fields/form', page: @page %>