<% provide(:title, t(:_NEW_PAGE)) %>
<% content_for :sidebar_l2 do %>
<div id="sidebar-left2" class="span2">
	<div class="nav-collapse sidebar-nav">
		<ul class="nav nav-tabs nav-stacked">
			<% page_tree.each do |p| %>
				<%= render 'rows', p: p, level: 0 %>
			<% end %> 
		</ul>
	</div>
</div>
<% end %>


<%= form_for @page, :multipart => true do |f| %>
    <legend><%= t(:_NEW_PAGE) %></legend>   

   	<%= render 'fields', f: f %>	   
<% end %>

<%= render 'rhinoart/page_fields/form', page: @page %>

<% content_for :javascript do %>
<script type="text/javascript">
<!--
	<%= raw(field_javascript) %>
	<%= raw(tab_javascript) %>
-->
</script>	
<% end %>
