.row-fluid
	.span12
		.navbar.navbar-internal.navbar-inverse
			.navbar-inner
				.container
					%ul.nav
						%li
							.btn-toolbar
								%a.btn.btn-primary{ href: new_user_path}
									%i.halflings-icon.plus 
									Create new

						%li.divider-vertical

						%li.nav-sub-item{ class: params[:role] == 'new' ? 'active' : '' }
							%a.action-switch-section{ href: "#{users_path role: 'new'}" }
								New Waiting
								%span.badge.stat-published= Rhinoart::User.where(approved: false).count

						%li.nav-sub-item{ class: params[:role] == 'admin' ? 'active' : '' }
							%a.action-switch-section{ href: "#{users_path role: 'admin'}" }
								Admin users								
								%span.badge.stat-draft= Rhinoart::User::admin_users.pluck(:id).count

						%li.nav-sub-item{ class: !params[:role].present? ? 'active' : '' }
							%a.action-switch-section{ href: "#{users_path}" }
								All
								%span.badge.stat-published= Rhinoart::User.count

					%ul.nav.pull-right
						%li.nav-item
							.btn-toolbar.pull-right
								= form_tag users_path, method: :get, style: 'margin: 0;' do
									= text_field_tag 'q', params[:q], placeholder: 'Search by email or name', style: 'margin-bottom: 0;margin-right: 10px;'
									= submit_tag 'Search', class: 'btn btn-default', data: { disable_with: 'Searching...'}


