<% provide(:title, "All #{t(:_USERS)}") %>

<ul class="nav nav-tabs">
	<li class="active">
		<%= link_to t(:_USERS), users_path %>
	</li>
</ul>

<div style="padding: 6px 6px;" class="well">
	<%= link_to t(:_BTN_CREATE), new_user_path, class: 'btn btn-primary' %>
</div>

<%= will_paginate %>
<ul class="users">
  <%= render @users %>
</ul>
<%= will_paginate %>
