- provide(:title, "All #{t(:_USERS)}")

.box-header
	%h2
		%i.fa-icon-group.align-justify
		%span.break
		= t(:_USERS)



.box-content
	= render 'nav'


	- if @users.any?
		- dir = params[:dir].present? ? (params[:dir] == 'asc' ? 'desc' : 'asc') : 'asc'
		%table.table.table-condensed.table-bordered.table-striped.table-hover.tablesorter
			%thead
				%tr
					%th{style: "border-top:0; background: none; width: 10%;"}
					%th.header.name.not-sortable{style: "border-top:0;"}= link_to 'Name', params[:role].present? ? "?role=#{params[:role]}&sort=name&dir=#{dir}" : "?sort=name&dir=#{dir}"
					%th.header.email.not-sortable{style: "border-top:0;"}= link_to 'E-Mail', params[:role].present? ? "?role=#{params[:role]}&sort=email&dir=#{dir}" : "?sort=email&dir=#{dir}"
					%th.header User Type
					%th.header.last_sign_in_at.not-sortable{style: "border-top:0;"}= link_to 'Last sign in', params[:role].present? ? "?role=#{params[:role]}&sort=last_sign_in_at&dir=#{dir}" : "?sort=last_sign_in_at&dir=#{dir}"
					%th{style: "border-top:0; background: none; min-width: 30px;"}
			 

			- @users.each do |user|
				%tr{data: {id: user.id}}
					%td{ nowrap: 'nowrap' }
						- if user.approved?
							= link_to user_path(user, redirect_to: request.fullpath), method: :delete, data: { confirm: "Are you sure that you want to deny access that user?" }, class: "btn btn-small btn-danger" do
								%i.fa-icon-remove
								Deny Access
						- else
							= link_to user_path(user, user: {approved: true}, redirect_to: request.fullpath), method: :patch, data: { confirm: "Are you sure that you want to confirm that user?" }, class: "btn btn-small btn-success" do
								%i.fa-icon-ok{ style: 'clolor:red;' }
								Grant Access

						= link_to edit_user_path(user, redirect_to: request.fullpath), class: "btn btn-small" do
							%i.fa-icon-pencil
							Edit

					%td= link_to user.name, edit_user_path(user, redirect_to: request.fullpath)
					%td= user.email
					%td
						%small= user.roles.map(&:name).compact.join(", ")

					%td{ nowrap: 'nowrap' }
						%small
							- if user.last_sign_in_at.present?
								= user.last_sign_in_at.strftime("%m/%d/%Y %I:%M%p").html_safe
							- else
								Never        

					%td
						= link_to user_path(user, hard_delete: true, redirect_to: request.fullpath), method: :delete, data: { confirm: "Are you sure that you want to delete that user?" }, class: "btn btn-danger btn-small" do
							%i.icon-trash
							
		/ = will_paginate @users
	- else
		%i There's no users.


- content_for :javascript do
	= javascript_include_tag "jquery.tablesorter.js"

	:javascript
		$(function(){
			$("table").tablesorter();
		});

	- if params[:sort].present? && params[:sort] == 'name'
		- if params[:dir] == 'desc'
			:javascript
				$(function(){
					$('.name').addClass('header headerSortUp');
				});
		- else
			:javascript
				$(function(){
					$('.name').addClass('header headerSortDown');
				});
	- elsif params[:sort].present? && params[:sort] == 'email'
		- if params[:dir] == 'desc'
			:javascript
				$(function(){
					$('.email').addClass('header headerSortUp');
				});
		- else
			:javascript
				$(function(){
					$('.email').addClass('header headerSortDown');
				});
	- elsif params[:sort].present? && params[:sort] == 'last_sign_in_at'
		- if params[:dir] == 'desc'
			:javascript
				$(function(){
					$('.last_sign_in_at').addClass('header headerSortUp');
				});
		- else
			:javascript
				$(function(){
					$('.last_sign_in_at').addClass('header headerSortDown');
				});
