= provide(:title, "#{@user.name}")

= link_to 'â† all users', users_path, class: 'pull-left'
%br

%h1.pull-left
	= gravatar_for @user, { size: 60 }
	= @user.name

.clearfix
.row-fluid
	.span2
		Email:
	.span5
		= @user.email
.row-fluid
	.span2
		updated_at:
	.span5
		= @user.updated_at.strftime("%m/%d/%Y %H:%M")
.row-fluid
	.span2
		sign_in_count:
	.span5
		= @user.sign_in_count
.row-fluid
	.span2
		current_sign_in_at:
	.span5
		= @user.current_sign_in_at.strftime("%m/%d/%Y %H:%M")
.row-fluid
	.span2
		last_sign_in_at:
	.span5
		= @user.last_sign_in_at.strftime("%m/%d/%Y %H:%M")

.row-fluid
	.span2
		current_sign_in_ip:
	.span5
		= @user.current_sign_in_ip

.row-fluid
	.span2
		last_sign_in_ip:
	.span5
		= @user.last_sign_in_ip


%br
%br
%legend User Works

- if @works.any?
	%table.table.table-striped
		%thead
			%tr
				%th Changed object
				%th Action
				%th Date Change

		- @works.each do |work|
			- begin 
				%tr
					%td= render 'rhinoart/shared/work_links', work: work
					%td= work.event
					%td= l work.created_at, format: :short
			- rescue Exception => e
				%tr
					%td= "#{work.item_type} (#{work.item_id})"
					%td= work.event
					%td= l work.created_at, format: :short

	= will_paginate @works
	
