<div id="mdFieldAdd" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<% @field = Rhinoart::PageField.new %>
	<% @field.page ||= page %>

	<%= form_for @field, url: page_fields_path, remote: true do |pf| %>
		<%= pf.hidden_field :page_id %>

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3 id="myModalLabel"><%= t('Add field') %></h3>
		</div>

		<div class="modal-body">
			<div id="pf_errors"></div>
			<div class="form-horizontal">
				<div class="control-group">	
					<%= pf.label :name, class: "control-label" %>
				    <div class="controls">		    	
				    	<%= pf.text_field :name, class: 'span11' %>		    	
				    </div>
				</div>

				<div class="control-group">	
					<%= pf.label :ftype, class: "control-label" %>
				    <div class="controls">	
				    	<%= pf.select :ftype, @field.select_list %>
				    </div>
				</div>
			</div> 
		</div>

		<div class="modal-footer">
			<div class="control-group">	        
		        <div class="controls">
		            <%= pf.button t("_BTN_SAVE"), class: "btn btn-primary" %>
		        </div>
		    </div> 
		</div>
	<% end %>
</div>

<% content_for :javascript do %>

<% end %>