<%= render 'shared/error_messages', object: f.object %>

<div class="form-horizontal">
    <div class="control-group">
        <%= f.label :name, class: 'control-label' %>
        <div class="controls">
            <%= f.text_field :name, class: 'span11' %>
        </div>
    </div>  

    <div class="control-group">
        <%= f.label :active, class: 'control-label' %>
        <div class="controls">
            <%= f.check_box :active, class: 'span11' %>
        </div>
    </div> 

    <div class="control-group">
        <%= f.label :started_at, class: 'control-label' %>
        <div class="controls pdate" data-date="" data-date-format="dd.mm.yyyy">
            <%= f.text_field :started_at, class: 'span2' %>
            <span class="add-on"><i class="icon-calendar"></i></span>
        </div>
    </div>

    <div class="control-group">
        <%= f.label :finished_at, class: 'control-label' %>
        <div class="controls pdate" data-date="" data-date-format="dd.mm.yyyy">
            <%= f.text_field :finished_at, class: 'span2' %>
            <span class="add-on"><i class="icon-calendar"></i></span>
        </div>
    </div>

    <% content_for :javascript do %>
        <script type="text/javascript">
            $('#vote_started_at').datepicker({});
            $('#vote_finished_at').datepicker({});
        </script>
    <% end %>


    <div class="form-actions">
        <div class="btn-overlay">
            <%= f.button t("_BTN_SAVE"), class: "btn btn-primary" %>
            <%= f.button t('_BTN_SAVE_AND_CONTINUE'), class: 'btn btn-success', name: 'continue', value: 'continue' %>
            <%= link_to t("_BTN_CANCEL"), votes_path, class: "btn" %>
        </div>
    </div>
</div>

