<% provide(:title, t(:_VOTE_ANSWERS)) %>

<div class="box-header" data-original-title="">
	<h2><i class="icon-list-alt align-justify"></i><span class="break"></span><%= t(:_VOTE_ANSWERS) %></h2>
	<div class="box-icon">
		<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
		<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
		<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
	</div>
</div>
<div class="box-content">
	<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
		<table class="table table-striped tree">
			<thead>
				<tr>
					<th width="80%"><%= t(:_VOTE_ANSWER_NAME) %></th>
					<th><%= t(:_ACTIONS) %></th>
				</tr>
			</thead>
			<tbody>	
				<% @vote_answers.each do |c| %>
				<tr>
					<td>
						<i class="fa-icon-file"></i> <b><%= link_to c.started_at.strftime("%Y-%m-%d %H:%M:%S"), vote_current_answers_path(parent: c.started_at.strftime("%Y-%m-%d %H:%M:%S")) %></b><br>
					</td>
					<td class="center">
						<%= link_to raw('<i class="halflings-icon edit"></i>'), vote_current_answers_path(parent: c.started_at.strftime("%Y-%m-%d %H:%M:%S")), class: 'btn btn-info' %>
						
					</td>
				</tr>
				<% end %>				
			</tbody>
		</table>					
		<div class="row-fluid">
			<div class="span12 center">
				<div class="dataTables_paginate paging_bootstrap pagination"><%= will_paginate page_items %></div>
			</div>
		</div>
	</div>
</div>
