<% provide(:title, t(:_VOTES)) %>

<div class="box-header" data-original-title="">
	<h2><i class="icon-list-alt align-justify"></i><span class="break"></span><%= t(:_VOTES) %></h2>
	<div class="box-icon">
		<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
		<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
		<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
	</div>
</div>
<div class="box-content">
	<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
		<div class="row-fluid">
			<div class="btn-overlay">
				<%= link_to "<i class=\"halflings-icon plus\"></i> #{t(:_BTN_CREATE)}".html_safe, new_vote_path, class: 'btn btn-primary' %>
			</div>
		</div>

		<table class="table table-striped tree">
			<thead>
				<tr>
					<th width="80%"><%= t(:_VOTE_NAME) %></th>
					<th><%= t(:_ACTIONS) %></th>
				</tr>
			</thead>
			<tbody>	
				<% @votes.each do |c| %>
				<tr>
					<td>
						<i class="fa-icon-file"></i> <b><%= link_to c.name, edit_vote_path(c) %></b><br>
					</td>
					<td class="center">
						<%= link_to raw('<i class="halflings-icon edit"></i>'), edit_vote_path(c), class: 'btn btn-info' %>
						<%= link_to raw('<i class="halflings-icon trash"></i>'), vote_path(c), class: 'btn btn-info', :method => :delete, :data => { :confirm => t('_DELETE_CONFIRM') } %>
						<%= link_to raw('<i class="halflings-icon list"></i>'), vote_vote_questions_path(c), class: 'btn btn-info' %>
						<%= link_to raw('<i class="halflings-icon tasks"></i>'), vote_answers_path, class: 'btn btn-info' %>
					</td>
				</tr>
				<% end %>				
			</tbody>
		</table>					
		<div class="row-fluid">
			<div class="span12 center">
				<div class="dataTables_paginate paging_bootstrap pagination"><%= will_paginate page_items %></div>
			</div>
		</div>
	</div>
</div>
