= render 'rhinoart/shared/error_messages', object: f.object
.form-horizontal
  .control-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, class: 'span11'
  .control-group
    = f.label :slug, class: 'control-label'
    .controls
      = f.text_field :slug, class: 'span11'
      = link_to '<span class="icon-plus-sign"></span>'.html_safe, '#mdFieldAdd', data: {toggle: "modal"}
  / Page fields
  = render 'page_fields', f: f
  .row
    .span1{style: "margin-left: 210px;"}
      = f.label :position
      = f.number_field :position, class: 'span12'
    .span2
      = f.label :parent_id
      = f.collection_select :parent_id, Rhinoart::Page.article_list, :id, :name, {include_blank: true}, {class: 'span11'}
    .span2
      = f.label :ptype
      = f.select :ptype, [[t('Page'), 'page'], [t('Article'), 'article'], [t('Blog'), 'blog']], {include_blank: false}, {class: 'span11'}
    .span2
      = f.label :menu
      = f.check_box :menu
    .span2
      = f.label :active
      = f.check_box :active
  %br/
  / Page contents
  = render 'content_row', f: f
  .form-actions
    .btn-overlay
      = f.button t("_BTN_SAVE"), class: "btn btn-primary"
      = f.button t('_BTN_SAVE_AND_CONTINUE'), class: 'btn btn-success', name: 'continue', value: 'continue'
      = link_to t("_BTN_CANCEL"), structures_path, class: "btn"
