<% provide(:title, "#{t(:_SYSTEM_SETTINGS)}") %>

<div class="box-header" data-original-title="">
	<h2><i class="halflings-icon align-justify"></i><span class="break"></span><%= t(:_SYSTEM_SETTINGS) %></h2>
	<div class="box-icon">
		<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
		<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
		<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
	</div>
</div>
<div class="box-content">
	<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
		<div class="row-fluid">
			<div class="btn-overlay">
				<%= link_to "<i class=\"halflings-icon plus\"></i> #{t(:_BTN_CREATE)}".html_safe, new_setting_path, class: 'btn btn-primary' %>
			</div>
			<div class="btn-overlay">
				<%= link_to "<i class=\"halflings-icon trash\"></i> #{t(:_BTN_CLEAR_CACHE)}".html_safe, caches_clear_path(redirect_to: request.fullpath), class: 'btn btn-primary' %>
			</div>
		</div>

		<table class="table table-striped tree">
			<thead>
				<tr>
					<th width="20%"><%= t(:_PARAMETER_NAME) %></th>
					<th width="60%"><%= t(:_PARAMETER_VALUE) %></th>
					<th><%= t(:_ACTIONS) %></th>
				</tr>
			</thead>
			<tbody>				
				<% @settings.each do |c| %>
				<tr>
					<td>
						<i class="fa-icon-file"></i> <b><%= link_to c.name, edit_setting_path(c) %></b><br>
						<i><small><%= c.descr %></small></i>
					</td>
					<td><%= c.value[0..200] if c.value.present? %></td>
					<td class="center">
						<%= link_to raw('<i class="halflings-icon edit"></i>'), edit_setting_path(c), class: 'btn btn-info' %>
						<%= link_to raw('<i class="halflings-icon trash"></i>'), setting_path(c), class: 'btn btn-info', :method => :delete, :data => { :confirm => t('_DELETE_CONFIRM') } %>
					</td>
				</tr>
				<% end %>				
			</tbody>
		</table>					
		<div class="row-fluid">
			<div class="span12 center">
				<div class="dataTables_paginate paging_bootstrap pagination"><%= will_paginate page_items %></div>
			</div>
		</div>
	</div>
</div>
