%tr
  %td{class: "level_#{level}"}
    %b= link_to item.comment, edit_page_comment_path(item)
    - if level == 0
      %br/
      %small
        = t(:blog_name)
        \: #{link_to item.page.title, edit_page_path(item.page)}
  %td
    - if item.approved?
      %span.label.label-info= t(:approved)
    - else
      %span.label= t(:not_approved)
  %td.center
    = link_to raw('<i class="halflings-icon edit"></i>'), edit_page_comment_path(item), class: 'btn btn-info'
    = link_to raw('<i class="halflings-icon trash"></i>'), page_comment_path(item), class: 'btn btn-info', :method => :delete, :data => { :confirm => t('_DELETE_CONFIRM') }
- item.children.each do |children|
  = render 'rows', item: children, level: level + 1
