<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <%= link_to raw('<span>Rhino CMS</span>'), root_path, class: 'brand' %>
                            
            <!-- start: Header Menu -->
            <div class="nav-no-collapse header-nav">
                <ul class="nav pull-right">
                    <% if can? :manage, :all %>
                    <li><%= link_to raw('<i class="halflings-icon white wrench"></i>'), rhinoart.settings_path %></li>
                    <% end %>
                    <!-- start: User Dropdown -->
                    <li class="dropdown">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="halflings-icon white user"></i> <%= current_user.name %>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><%= link_to raw('<i class="halflings-icon white user"></i> Profile'), rhinoart.edit_user_path(id: current_user.id) %></li>
                            <li><%= link_to raw('<i class="halflings-icon white off"></i> Logout'), rhinoart.destroy_user_session_path, :method => :delete %></li>
                        </ul>
                    </li>
                    <!-- end: User Dropdown -->
                </ul>
            </div>
            <!-- end: Header Menu -->
            
        </div>
    </div>
</div>