<%= render 'rhinoart/shared/error_messages', object: f.object %>

<div class="form-horizontal">
    <%= f.hidden_field :path_cache %>

    <div class="row">
        <div class="span1" style="margin-left: 210px;">
            <%= f.label :position %>
            <%= f.number_field :position, class: 'span12' %>
        </div>

        <div class="span3">
            <%= f.label :gallery_id %>
            <%= f.collection_select :gallery_id, Rhinoart::Gallery.all, :id, :name, {include_blank: true}, {class: 'span11'} %>
        </div>

        <div class="span2">
            <%= f.label :main %>
            <%= f.check_box :main %>
        </div>

        <div class="span2">
            <%= f.label :active %>
            <%= f.check_box :active %>
        </div>
    </div>

    <br>

    <div class="control-group">
        <%= f.label :url, class: 'control-label' %>
        <div class="controls">
            <%= f.text_field :url, class: 'span10' %>
        </div>
    </div>

    <div class="control-group">
        <%= f.label :annotation, class: 'control-label' %>
        <div class="controls">
            <div class="span10">
                <%= f.text_area :annotation %>
            </div>
            <div class="span2">
                <%= image_tag(f.object.path.thumb.url) if f.object.path.thumb.url.present? %>
            </div>
        </div>
    </div>

    <div class="form-actions">
        <div class="btn-overlay">
            <%= f.button t("_BTN_SAVE"), class: "btn btn-primary" %>
            <%= link_to t("_BTN_DELETE"), gallery_image_path(@image), :method => :delete, :data => { :confirm => t('_DELETE_CONFIRM') }, class: "btn btn-danger" %>
            <%= link_to t("_BTN_CANCEL"), galleries_path, class: "btn" %>
        </div>
    </div>
</div>

<% content_for :javascript do %>
    <%= stylesheet_link_tag    "redactor/redactor" %>
    <%= javascript_include_tag "redactor/redactor" %>


<script type="text/javascript">
    $('textarea').redactor({
        autoresize: true,
        minHeight: 150,
        maxHeight: 550,
    });
</script>
<% end %>