<% provide(:title, t("gallery_images", name: @gallery.name) ) %>

<% render 'rhinoart/galleries/sidebar' %>


	<div class="btn-overlay">

	<%= form_for @image, :html => {:multipart => true} do |f| %>
		<%#= f.hidden_field :path_cache %>
		<%= f.hidden_field :gallery_id, value: @gallery.id %>
        <div class="uploader" id="uniform-fileInput">
            <%= f.file_field :path, class: 'input-file uniform_on', :multiple => true %>
            <span class="filename">No file selected</span>
            <span class="action"><%= t(:add_image) %></span>
        </div>	

        <%= f.button t("_BTN_UPLOAD"), class: "btn btn-primary" %>	
	<% end %>		
	</div>


<h2><%= t("gallery_images", name: "\"#{@gallery.name}\"") %></h2><br>

<div class="images">
<% if @images.present? %>
    <% @images.each do |image| %>
        <div class="item">
        <%= image_tag image.path.thumb.url %>
            <div class="edit-bt">
                <%= link_to raw('<i class="halflings-icon edit"></i>'), edit_gallery_image_path(image) %>
                <%= link_to raw('<i class="halflings-icon trash"></i>'), gallery_image_path(image), :method => :delete, :data => { :confirm => t('_DELETE_CONFIRM') } %>
            </div>
        </div>
    <% end %>
<% end %>
</div>
